.numbers {
    position: relative;
    background: #FFFFFF;
    border-radius: 36px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
    transition: background ease-in-out 0.3s;
    min-height: 300px;
    max-width: 2000px;
}

.numbers_dark {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #010101;
}

.numbers__loader {
    position: relative;
    display: block;
}

.numbers__title {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    margin: 40px 0 0 44px;
    /* text/day/main */
    color: #010101;
    align-self: flex-start;
    transition: color 0.3s ease-in-out;
}

.numbers__title_dark {
    color: #FFFFFF;
}

.numbers__title_link {
    color: #0E5EF8;
    transition: opacity 0.3s ease-in-out;
    border-bottom: 2px dashed #0E5EF8;
}

.numbers__title_link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.numbers__controllers {
    max-width: calc(100% - 44px * 2);
    width: 100%;
    margin: 34px auto 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.numbers__input-container {
    background: #F5F5F5;
    border-radius: 31px;
    width: 218px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 1px solid #4b74fc00;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.numbers__input {
    padding: 0 0 0 44px;
    caret-color: #0E5EF8;
    -webkit-appearance: none;
    width: 100%;
    background-color: unset;
    font: unset;
    text-rendering: unset;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    appearance: unset;
    font-style: normal;
    border: none;
    display: flex;
    font-family: Circe, Arial, sans-serif;
    /* !! */
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    display: flex;
    align-items: center;
    color: #121212;
    margin: 0;
}

.numbers__input:focus {
    outline: none;
}

.numbers__input-container_focused {
    border: 1px solid #4B75FC;
    background: #FFFFFF;
}

.numbers__input::placeholder {
    outline: none;
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    display: flex;
    align-items: center;
    color: #D3D3D3;
    margin: 0;
}

.numbers__input-search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
}

.numbers__categories {
    display: flex;
    align-items: flex-start;
    max-width: 1330px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.numbers__category {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* text/day/main */
    padding: 0;
    border-radius: 28px;
    color: rgba(1, 1, 1, 0.4);
    margin: 0 0 0 33px;
    transition: color ease-in-out 0.3s, border-color ease-in-out 0.3s;
}

.numbers__category-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 33px;
}

.numbers__category_bronze_active {
    background: #CD7F32;
    border-radius: 28px;
}

.numbers__category_selver_active {
    background: #C0C0C0;
    border-radius: 28px;
}

.numbers__category_gold_active {
    background: #FFD700;
    border-radius: 28px;
}

.numbers__category_platina_active {
    background: #E5E4E2;
    border-radius: 28px;
}

.numbers__category_briliant_active {
    background: #D6F7FF;
    border-radius: 28px;
}

.numbers__category_with-name {
    margin: 0 !important;
}

.numbers__category-name {
    font-family: Montserrat, Arial, sans-serif;
    width: fit-content;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    margin: 0;
    text-align: center;
    color: rgba(1, 1, 1, 0.4);
}

.numbers__category-lastprice {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    text-align: center;
    text-decoration: line-through;
    /* main/red */
    color: #FF0202;
    margin: 0;
}

.numbers__category-price {
    font-family: Inter, Arial, sans-serif;
    position: absolute;
    top: 55px;
    width: 250px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    text-align: center;
    color: #000000;
    margin: 0;
}

.numbers__category-price_dark {
    color: #FFFFFF;
}

.numbers__category-name_active {
    padding: 10px;
    color: #010101 !important;
    font-style: normal;
    font-weight: bold;
}

.numbers__category-name_active:hover {
    color: #010101;
}

.numbers__category-name:hover {
    color: #010101;
}

.numbers__category_dark {
    color: rgba(255, 255, 255, 0.4);
}

.numbers__category:hover {
    color: #010101;
}

.numbers__category_dark:hover {
    color: rgba(255, 255, 255, 0.4);
}

.numbers__category_active {
    padding: 10px;
    background: #4B75FC;
    color: #F8F8F8;
}

.numbers__category_dark_active {
    color: #FFFFFF;
    border-bottom: #0E5EF8 solid 2px;
}

.numbers__category_dark_active:hover {
    color: #FFFFFF;
}

.numbers__category_active:hover {
    color: #FFFFFF;
}

.numbers__category:first-of-type {
    margin: 8px 0 8px 48px;
}

.numbers__category:focus {
    outline: none;
}

.numbers__category-name_dark {
    color: rgba(255, 255, 255, 0.4);
}

.numbers__category-name_dark:hover {
    color: rgba(255, 255, 255, 0.4);
}

.numbers__contacts {
    position: relative;
    margin: 32px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: 61px;
    grid-auto-rows: 61px;
    row-gap: 24px;
    column-gap: 24px;
    max-width: calc(100% - 44px * 2);
    width: 100%;
    align-items: center;
    justify-items: center;
}

.numbers__contact {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    font-family: Inter, Arial, sans-serif;
    ;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 140%;
    /* or 36px */
    /* text/day/secondary */
    color: #000000;
    margin: 0;
    padding: 5px 9px;
    border-radius: 12px;
    border: solid 3px #0e60f800;
    transition: border-color ease-in-out 0.3s, color 0.3s ease-in-out;
    cursor: pointer;
}

.numbers__contact_bold {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #000;
}

.numbers__contact_bold_dark {
    color: #FFFFFF;
}

.numbers__contact_selected {
    padding: 5px 9px;
    border-radius: 12px;
    border: solid 3px #0E5EF8;
}

.numbers__contact_dark {
    color: rgba(255, 255, 255, 0.68);
}

.numbers__submit-button {
    max-width: calc(100% - 44px * 2);
    width: 100%;
    height: 60px;
    background: linear-gradient(135deg, #4B75FC 0%, #3C4FFF 100%);
    border-radius: 41px;
    font-family: Jost, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height */
    text-align: center;
    /* identical to box height */
    text-decoration: none;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 62px 0 0;
}

.numbers__submit-button:focus {
    outline: none;
}

.numbers__submit-button:hover {
    opacity: 0.8;
}

.numbers__submit-button_disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.numbers__submit-button_disabled:hover {
    opacity: 0.3;
}

.numbers__page-buttons {
    margin: 0 0 0 auto;
    display: flex;
}

.numbers__page-button {
    cursor: pointer;
    border: none;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    background-color: unset;
    border-radius: 69px;
    width: 48px;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 18px;
    padding: 0;
    transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.numbers__page-button_inactive {
    opacity: 0.3;
}

.numbers__page-button:first-of-type {
    margin: 0 0 0 0;
}

.numbers__page-button:hover {
    border-color: #0e60f8a1;
}

.numbers__page-button_inactive:hover {
    border-color: inherit;
    border-color: #EEEEEE;
}

.numbers__arrow-icon {
    width: 24px;
    height: 24px;
}

.numbers__arrow-icon_right {
    transform: rotate(180deg);
}

.numbers__headtitle {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.numbers__headtitle-icon {
    height: 114px;
    width: 114px;
    margin: 0 29px 0 0;
}

.numbers__headtitle-text {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    margin: 0;
    color: #121212;
}

.numbers__head-buttons {
    display: flex;
    margin-top: 34px;
    flex-wrap: wrap;
    z-index: 3;
}

.numbers__head-button {
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    height: fit-content;
    padding: 12px 16px;
    border: 1px solid #4B6CFD;
    border-radius: 31px;
    margin: 0 16px 0 0;
    background: unset;
}

.numbers__head-button:last-of-type {
    margin: 0;
}

.numbers__head-button_active {
    background: #4B6CFD;
}

.numbers__head-button-text {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    display: flex;
    margin: 0;
    align-items: center;
    color: #121212;
}

.numbers__head-button-text_active {
    color: #FFFFFF;
}

.numbers__cart {
    height: 24px;
    width: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.numbers__cart_hoverd {
    opacity: 1;
}

.numbers__cart-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 34px;
    background: rgba(75, 117, 252, 0.12);
    border-radius: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.numbers__cart-bg_hoverd {
    opacity: 1;
}

.numbers__cart-bg_selected {
    opacity: 1;
    background: #4B75FC;
}

.numbers__cart_selected {
    opacity: 1;
}

.numbers__number-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.numbers__selected-numbers-button {
    cursor: pointer;
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin: 0;
    padding: 16px 39px;
    background: rgba(75, 117, 252, 0.12);
    border-radius: 57px;
    width: fit-content;
    color: #010101;
    position: absolute;
    top: 40px;
    right: 40px;
}

.numbers__selected-number {
    display: grid;
    grid-template-columns: 283px 125px 80px;
    grid-template-rows: 61px;
    grid-auto-rows: 61px;
    align-items: center;
    justify-items: start;
    column-gap: 16px;
}

.numbers__selected-number-text {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 140%;
    margin: 0;
    padding: 10px 24px;
    color: #010101;
    border-radius: 39px;
}

.numbers__selected {
    position: relative;
    margin: 32px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 515px);
    grid-template-rows: 61px;
    grid-auto-rows: 61px;
    row-gap: 24px;
    column-gap: 24px;
    max-width: calc(100% - 44px * 2);
    width: 100%;
    align-items: center;
    justify-items: start;
}

.numbers__selected-number-text_bronz {
    background: #CD7F32;
}

.numbers__selected-number-text_silver {
    background: #C0C0C0;
}

.numbers__selected-number-text_gold {
    background: #FFD700;
}

.numbers__selected-number-text_platina {
    background: #E5E4E2;
}

.numbers__selected-number-text_briliant {
    background: #D6F7FF;
}

.numbers__selected-number-prices {
    display: flex;
    flex-direction: column;
}

.numbers__selected-number-lastprice {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin: 0;
    text-align: left;
    text-decoration-line: line-through;
    color: #FF0202;
}

.numbers__selected-number-price {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    margin: 8px 0 0;
    text-align: left;
    color: #000000;
}

.numbers__selected-number-trash {
    width: 80px;
    height: 34px;
    background: rgba(252, 75, 75, 0.12);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
}

.numbers__selected-number-trash:hover {
    opacity: 1;
}

.numbers__selected-fullprice {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    max-width: calc(100% - 44px * 2);
    width: 100%;
    /* or 39px */
    text-align: right;
    margin: 42px 0 0;
    /* text/day/main */
    color: #010101;
}

.numbers__contact_error {
    -webkit-animation-name: shake-hard;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers__selected-numbers-button_dark {
    color: #FFFFFF;
    background: rgba(75, 117, 252, 0.3);
}

@keyframes shake-hard {
    2% {
        transform: translate(10px, 0)
    }
    4% {
        transform: translate(4px, 0)
    }
    6% {
        transform: translate(10px, 0)
    }
    8% {
        transform: translate(7px, 0)
    }
    10% {
        transform: translate(10px, 0)
    }
    12% {
        transform: translate(-3px, 0)
    }
    14% {
        transform: translate(-4px, 0)
    }
    16% {
        transform: translate(8px, 0)
    }
    18% {
        transform: translate(-8px, 0)
    }
    20% {
        transform: translate(2px, 0)
    }
    22% {
        transform: translate(6px, 0)
    }
    24% {
        transform: translate(1px, 0)
    }
    26% {
        transform: translate(-1px, 0)
    }
    28% {
        transform: translate(10px, 0)
    }
    30% {
        transform: translate(-8px, 0)
    }
    32% {
        transform: translate(7px, 0)
    }
    34% {
        transform: translate(-1px, 0)
    }
    36% {
        transform: translate(-5px, 0)
    }
    38% {
        transform: translate(8px, 0)
    }
    40% {
        transform: translate(10px, 0)
    }
    42% {
        transform: translate(0px, 0)
    }
    44% {
        transform: translate(-3px, 0)
    }
    0%, 100% {
        transform: translate(0, 0) rotate(0);
    }
}

.shake-hard.shake-constant {
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-name: shake-hard;
    animation-timing-function: ease-in-out;
}

.numbers-for-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 39px;
}

.numbers-for-mobile__inputs {
    margin: 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.numbers-for-mobile__inputs.modal {
    width: 100%;
    gap: 0 29px;
    justify-content: center;
}

.numbers-for-mobile__select-button {
    width: 251px;
    padding: 0 15px 0 12px;
    height: 52px;
    border: 2px solid #D3D3D3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.numbers-for-mobile__select-button-tick {
    width: 21px;
    height: 12px;
    margin: 0 0 0 10px;
    transition: transform 0.3s ease-in-out;
}

.numbers-for-mobile__select-button-tick_rotated {
    transform: rotate(180deg);
    margin: 0 0 0 20px;
}

.numbers-for-mobile__select-button-category {
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #F8F8F8;
    margin: 0;
    padding: 4px 12px;
    border-radius: 24px;
    background: #4B75FC;
}

.numbers-for-mobile__select-items {
    z-index: 2;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    border-radius: 24px;
    top: 63px;
    left: 0;
    padding: 12px;
    visibility: hidden;
}

.numbers-for-mobile__select-items_dark {
    background: #202020;
}

.numbers-for-mobile__select-items_visible {
    visibility: visible;
    z-index: 4;
}

.numbers-for-mobile__select-item {
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #F8F8F8;
    margin: 0;
    padding: 4px 12px;
    border-radius: 24px;
    background: #4B75FC;
    width: fit-content;
    margin-top: 8px;
}

.numbers-for-mobile__select-item:first-of-type {
    margin-top: 0;
}

.numbers-for-mobile__select-item_dark {
    color: #fafafa;
}

.numbers-for-mobile__select-item:hover {
    color: #4B75FC;
}

.numbers-for-mobile__select-button-category_bronz {
    background: #CD7F32;
    color: #010101;
}

.numbers-for-mobile__select-button-category_silver {
    background: #C0C0C0;
    color: #010101;
}

.numbers-for-mobile__select-button-category_gold {
    background: #FFD700;
    color: #010101;
}

.numbers-for-mobile__select-button-category_platina {
    background: #E5E4E2;
    color: #010101;
}

.numbers-for-mobile__select-button-category_briliant {
    background: #D6F7FF;
    color: #010101;
}

.numbers__table-mobile {
    margin-top: 48px;
    width: calc(100% - 28px * 2);
    align-self: center;
}

.numbers__table-mobile-name {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    /* identical to box height, or 28px */
    padding: 16px;
    margin: 0;
    border-radius: 66.7105px;
    color: #000000;
    width: fit-content;
}

.numbers__table-mobile-name_bronz {
    background: #CD7F32;
    color: #010101;
}

.numbers__table-mobile-name_silver {
    background: #C0C0C0;
    color: #010101;
}

.numbers__table-mobile-name_gold {
    background: #FFD700;
    color: #010101;
}

.numbers__table-mobile-name_platina {
    background: #E5E4E2;
    color: #010101;
}

.numbers__table-mobile-name_briliant {
    background: #D6F7FF;
    color: #010101;
}

.numbers__table-mobile-prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.numbers__table-mobile-price {
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    margin: 3px 0 0;
    text-align: right;
    color: #000000;
}

.numbers__table-mobile-lastprice {
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20.5263px;
    line-height: 100%;
    margin: 0;
    text-align: right;
    text-decoration-line: line-through;
    /* main/red */
    color: #FF0202;
}

.numbers__table-mobile-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.numbers__table-mobile-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

.numbers__table-mobile-number:first-of-type {
    margin-top: 36px;
}

.numbers__table-mobile-number_text {
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    /* identical to box height, or 56px */
    margin: 0;
    color: #000000;
}

.numbers__table-mobile-cart {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background: rgba(75, 117, 252, 0.12);
    border-radius: 41.0526px;
    width: 136px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numbers__table-mobile-cart:hover{
    opacity: 0.8;
}

.numbers__table-mobile-cart-icon {
    width: 41px;
    height: 41px;
}

.numbers__table-mobile-cart_selected {
    background: #4B75FC;
}

.numbers__table-mobile-page-btns {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.numbers__table-mobile-number_error {
    font-family: Circe, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    /* identical to box height, or 28px */
    margin: 20px 0;
    text-align: center;
    color: #000000;
}

.numbers__table-mobile-number_text_dark {
    color: #FFFFFF;
}

.numbers__table-mobile-price_dark {
    color: #FFFFFF;
}

.numbers__headtitle-text_dark {
    color: #FFFFFF;
}

.numbers__head-button-text_dark {
    color: #FFFFFF !important;
}
.numbers__submit-button-inselect{
    max-width: 100%;
    width: 100%;
    height: 60px;
    background: linear-gradient(135deg, #4B75FC 0%, #3C4FFF 100%);
    border-radius: 41px;
    font-family: Jost, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;
    /* identical to box height */
    text-decoration: none;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 62px 0 0;
}
.numbers__selected-price_dark{
    color: #FFFFFF !important;
}
@media (max-width: 1900px) {
    .numbers__contacts {
        column-gap: 24px;
    }
    .numbers {
        background: #FFFFFF;
        border-radius: 36px;
    }
    .numbers_dark {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #010101;
    }
}

@media (max-width: 1643px) {
    .numbers__category:first-of-type {
        margin: 0 0 0 24px;
    }
    .numbers__category {
        margin: 0 0 0 27px;
        font-size: 16px;
    }
    .numbers__category-name {
        font-size: 16px;
    }
    .numbers__category-lastprice {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
    }
    .numbers__category-price {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 100%;
    }
}

@media (max-width: 1349px) {
    .numbers__input {
        font-size: 20px;
    }
    .numbers__input::placeholder {
        font-size: 20px;
    }
    .numbers__title {
        font-size: 32px;
        line-height: 39px;
    }
    .numbers__contact {
        font-size: 20px;
    }
    .numbers__contact_bold {
        font-size: 28px;
    }
    .numbers__contacts {
        column-gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
        row-gap: 24px;
    }
    .numbers__category-price {
        top: 45px;
        font-size: 16px;
    }
    .numbers__category-lastprice {
        font-size: 12px;
    }
    .numbers__category {
        font-size: 12px;
    }
    .numbers__category-name {
        font-size: 12px;
    }
}

@media (max-width: 1170px) {
    .numbers__title {
        font-size: 30px;
        line-height: 35px;
    }
    .numbers__input-container {
        width: 167px;
    }
    .numbers__input {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }
    .numbers__input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }
    .numbers__category {
        margin: 0 0 0 17px;
    }
    .numbers__category-container {
        margin: 0 0 0 23px;
    }
    .numbers__selected-numbers-button {
        font-size: 14px;
        padding: 16px 14px;
        top: 40px;
        right: 40px;
    }
}

@media (max-width: 1029px) {
    .numbers__page-buttons {
        display: none;
    }
}

@media (max-width: 930px) {
    .numbers__selected-number-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        padding: 12px;
    }
    .numbers__selected-number {
        margin: 20px 0;
        display: flex;
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-auto-rows: unset;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
        grid-column-gap: unset;
        column-gap: unset;
    }
    .numbers__selected {
        position: relative;
        margin: 32px 0;
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-auto-rows: unset;
        grid-row-gap: unset;
        row-gap: unset;
        grid-column-gap: unset;
        column-gap: unset;
        max-width: unset;
        width: 100%;
        align-items: flex-start;
        justify-items: start;
    }
    .numbers__selected-fullprice {
        font-family: Inter, Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 140%;
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin: 25px 0 50px !important;
        color: #010101;
    }
    .numbers__selected-number-trash {
        width: unset;
        height: unset;
        background: unset;
        border-radius: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0.5;
        cursor: pointer;
    }
    .numbers__selected-number-price {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }
    .numbers__selected-number-lastprice {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
    }
    .numbers__page-button:hover {
        border-color: #EEEEEE;
    }
    .numbers__title {
        margin: 0;
    }
    .numbers__selected-numbers-button {
        position: relative;
        width: 100%;
        top: unset;
        right: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .numbers__input {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }
    .numbers__input::placeholder {
        color: rgba(1, 1, 1, 0.68);
    }
    .numbers__input-container {
        width: 253px;
        border: 2px solid #D3D3D3;
    }
    .numbers__input-container_focused {
        border: 2px solid #4B75FC;
        background: #FFFFFF;
    }
    .numbers__page-button {
        margin: 0 0 0 32px;
    }
    .numbers__submit-button {
        position: fixed;
        bottom: 30px;
        z-index: 9;
        background: #4B75FC;
        border-radius: 8px;
        box-shadow: 0px 4px 24px rgba(18, 18, 18, 0.32);
    }
    .numbers__submit-button:hover {
        opacity: 1;
    }
    .numbers__submit-button_disabled:hover {
        opacity: 1;
    }
    .numbers__submit-button_disabled {
        opacity: 1;
        color: rgba(1, 1, 1, 0.68);
        background: #C6CFFF;
    }
}

@media (max-width: 680px) {
    .numbers__head-button {
        padding: 8px 12px;
        height: min-content;
    }
    .numbers__head-button-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
    }
}

@media (max-width: 581px) {
    .numbers__page-button {
        margin: 0 0 0 18px;
    }
    .numbers__headtitle {
        margin-top: 40px;
        align-items: center;
    }
    .numbers__headtitle-icon {
        height: 72px;
        width: 72px;
        margin: 0 8px 0 0;
    }
    .numbers__headtitle-text {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;
    }
    .numbers__input-container {
        width: 100%;
    }
    .numbers-for-mobile__inputs {
        margin: 16px 0 0;
        display: flex;
        flex-direction: column;
    }
    .numbers-for-mobile__select-button {
        margin: 16px 0 0;
        width: 100%;
    }
    .numbers__table-mobile-name {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        padding: 12px;
    }
    .numbers__table-mobile-lastprice {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
    }
    .numbers__table-mobile-price {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }
    .numbers__table-mobile-number_text {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 140%;
    }
    .numbers__table-mobile-cart {
        width: 80px;
        height: 34px;
    }
    .numbers__table-mobile-cart-icon {
        height: 24px;
        width: 24px;
    }
    .numbers__table-mobile {
        margin-top: 24px;
        width: 100%;
    }
    .numbers__submit-button {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 35px;
        width: 100%;
        max-width: calc(100% - 5vw * 2);
    }
    .numbers__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 500px) {
    .numbers__head-buttons {
        margin: 26px 0 0;
    }
    .numbers__head-button {
        margin-top: 8px ! important;
    }
}