.banner {
    margin-top: 40px;
    width: 100%;
    position: relative;
    height: 340px;
}

.banner__card {
    display: flex;
    flex-direction: column;
    padding: 48px 71px 45px 71px;
    position: relative;
    border-radius: 24px;
    height: 100%;
    width: 100%;
}

.banner__card_with-roket {
    background: radial-gradient(74.72% 351.02% at 74.72% 18.1%, #697174 0%, #090A0A 57.08%);
}

.banner__card-img_roket {
    position: absolute;
    top: 26px;
    right: 290px;
}

.banner__card-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 130%;
    margin: 0;
    color: #FFFFFF;
}

.banner__card-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 130%;
    margin: 20px 0 0;
    color: #FFFFFF;
}

.banner__buttons {
    display: flex;
    position: absolute;
    top: 243px;
    left: 69px;
}

.banner__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: #FFFFFF solid 1px;
    transition: all 0.3s ease-in-out;
    margin: 0 28px 0 0;
}

.banner__button:last-of-type {
    margin: 0;
}

.banner__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1640px) {
    .banner__card-img_roket {
        transform: rotate(-5.87deg);
        width: 264.09px;
        height: 352.72px;
        top: 9px;
        right: 142px;
    }
    .banner__card-title {
        font-size: 40px;
        line-height: 130%;
        max-width: 50%;
    }
    .banner__card-subtitle {
        max-width: 50%;
        font-size: 24px;
        line-height: 130%;
        margin: 11px 0 0;
    }
}
@media screen and (max-width: 920px) {
    .banner__card-img_roket {

        width: 167.82px;
        height: 224.14px;
        top: 8px;
        right: 50px;
    }
    .banner__card-title {
        font-size: 24px;
        line-height: 130%;
        max-width: 50%;
    }
    .banner__card-subtitle {
        max-width: 50%;
        font-size: 12px;
        line-height: 130%;
        margin: 8px 0 0;
    }
    .banner {
        margin-top: 40px;
        height: 194px;
    }
    .banner__card {
        padding: 21px 25px;
    }
    .banner__buttons {

        top: 139px;
        left: 25px;
    }
    .banner__button {
        width: 40px;
        height: 40px;
        margin: 0 7px 0 0;
    }
    
}

@media screen and (max-width: 510px) {
    .banner__card-img_roket {
        width: 97.94px;
        height: 130.81px;
        top: 8px;
        right: 26px;
    }
    .banner__card-title {
        font-size: 16px;
        line-height: 130%;
        max-width: 55%;
    }
    .banner__card-subtitle {
        max-width: 55%;
        font-size: 12px;
        line-height: 130%;
        margin: 8px 0 0;
    }
    .banner {
        margin-top: 20px;
        height: 160px;
    }
    .banner__card {
        padding: 18px 10px;
    }
    .banner__buttons {

        top: 108px;
        left: 10px;
    }
    .banner__button {
        width: 36px;
        height: 36px;
        margin: 0 11px 0 0;
    }
    
}